*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #dadada;
  font-size: 10px;
}

div {
  float: left;
}

.title {
  font-size: 200%;
  text-transform: uppercase;
  text-align: center;
  margin: 2% 0;
  padding: 4% 4% 4% 4%;
  width: 100%;
}

@media screen and (min-width: 575px){
  .title {
    margin: .5%;
    padding: 2%;
    width: 100%;
  }
}

.baku {
  font-size: 300%;
  margin: 2% 0;
  width: 100%;
  padding: 10% 5% 53% 10%;
  background: #fff url(../images/baku.jpg) no-repeat top;
  background-size: cover;
}

@media screen and (min-width: 575px){
  .baku {
    margin: 1%;
    padding: 5% 2% 22% 5%;
    width: 48%;
  }
}

@media screen and (min-width: 991px){
  .baku {
    margin: .5%;
    padding: 1.5% 1% 10% 1.5%;
    width: 22%;
    font-size: 200%;
  }
}

.london {
  font-size: 300%;
  margin: 2% 0;
  width: 100%;
  padding: 10% 5% 49% 10%;
  background: #fff url(../images/london.png) no-repeat top;
  background-size: cover;
}

@media screen and (min-width: 575px){
  .london {
    margin: 1%;
    padding: 5% 2% 22% 5%;
    width: 48%;
  }
}

@media screen and (min-width: 991px){
  .london {
    margin: .5%;
    padding: 1.5% 1% 10% 1.5%;
    width: 22%;
    font-size: 200%;
  }
}

.madrid {
  font-size: 300%;
  margin: 2% 0;
  width: 100%;
  padding: 10% 0 43% 10%;
  background: #fff url(../images/madrid.jpg) no-repeat top;
  background-size: cover;
}

@media screen and (min-width: 575px){
  .madrid {
    margin: 1%;
    padding: 5% 2% 19% 5%;
    width: 48%;
  }
}

@media screen and (min-width: 991px){
  .madrid {
    margin: .5%;
    padding: 1.5% 1% 10% 1.5%;
    width: 22%;
    font-size: 200%;
  }
}

.rome {
  font-size: 300%;
  margin: 2% 0;
  width: 100%;
  padding: 10% 0 44% 10%;
  background: #fff url(../images/rome.jpg) no-repeat top;
  background-size: cover;
}

@media screen and (min-width: 575px){
  .rome {
    margin: 1%;
    padding: 5% 2% 19% 5%;
    width: 48%;
  }
}

@media screen and (min-width: 991px){
  .rome {
    margin: .5%;
    padding: 1.5% 1% 10% 1.5%;
    width: 22%;
    font-size: 200%;
    float: left;
  }
}
